.myStore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.store {
  font-weight: 500;
  font-size: 28px;
  font-feature-settings: "ss01" on, "ss03" on;
}
.totall {
  width: 46px;
  height: 24px;
  background: #341e9d;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding-top: 3px;
  margin-left: 12px;
}

.filterFlex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterTxt {
  font-weight: 700;
  font-size: 16px;
  color: #341e9d;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 120px;
  height: 55px;
  border: 1px solid #341e9d;
  border-radius: 40px;
}

.newList {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 190px;
  height: 59px;
  background: #341e9d;
  border-radius: 40px;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.addNew {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.icon {
  width: 24px;
  height: 24px;
}
